@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
*{
margin:0;
padding:0;
box-sizing:border-box;
-webkit-tap-highlight-color: rgba(0,0,0,0);
transition:color .1s;
}
:root{
    --body-clr:#f1f1f1;
    --dark-clr:#707070;
    --light-clr:#ffffff;
    --green:linear-gradient(#06D81E, #27B43D);
    --green-text:#06D81E;
    --prm-grd:linear-gradient(170deg, #e7e7e7, #FFFFFF);
    --prm-shadow: 2px 2px 5px #DDDFE3, -2px -2px 5px #FFFFFF;
    --prm-shadow-reverse: -2px -2px 5px #dedede, 2px 2px 5px #e2e2e2;
    --prm-grd-reverse:linear-gradient(315deg, #e4e4e4, #ffffff);
    --secondary-clr:#3C3C59;
    --story-border:linear-gradient(-210deg, #379BDE 50%, #115ED2 80%);
    --border:rgb(255, 255, 255);
    --icons-clr:invert(0);
    --splitter-clr:rgba(114, 114, 114, .2);
}
.tap{
    background-color:var(--body-clr);
}
.tap.dark{
    --body-clr:#1f1f1f;
    --prm-grd:linear-gradient(-210deg, #1a1a1a 50%, #1a1a1a 80%);
    --prm-grd-reverse:#000;
    --prm-shadow: 2px 2px 5px #131313, -2px -2px 5px #222222;
    --prm-shadow-reverse: -2px -2px 5px #131313, 2px 2px 5px #161616;
    --light-clr:#333;
    --border:rgb(51, 51, 51);
    --icons-clr:invert(100%);
    --secondary-clr:rgb(255, 255, 255);
    --icons-clr:invert(100%);
    --splitter-clr:rgba(0, 0, 0, 0.2);
}

button{
    border:0;
    outline:none;
    font-size:.8rem;
    color:var(--secondary-clr);
}
p{
    font-family:"noto-sans";
    color:var(--secondary-clr) !important;
}
h4{
    font-family:"noto-sans";
    color:var(--secondary-clr);
    font-weight: 600;
}
a{
    text-decoration: none;
    color:var(--secondary-clr);
    outline:none;
}
a:active{
    color:var(--dark-clr);
}
ul{
    list-style:none;
}
.splitter{
    content:"";
    display:block;
    border-top:1px solid var(--splitter-clr);
    border-bottom:1px solid var(--light-clr);
    width:100%;
    position:absolute;
    left:0;
    top:0;
}
.splitter.btm{
    bottom:-.3rem;
}
.gr{
    color:var(--green-text);
}
.gr-count{
    width:25px;
    height:25px;
    font-size:.7rem;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    background:var(--green);
    border-radius:50%;
}
.g{
    display:grid;
}
.g.g-col-3{
    grid-template-columns:50px 1fr 80px;
    grid-column-gap:.5rem;
}
.g.c{
    place-content:center;
}
.b{
    border:1px solid;
}
.f{
    display:flex;
}
.f.wp{
    flex-wrap: wrap;
}
.f.f-cl{
    flex-direction:column;
}
.jc-sb{
    justify-content:space-between;
}
.jc-sa{
    justify-content:space-around;
}
.jc-c{
    justify-content:center;
}
.ai-sb{
    align-items:space-between;
}
.ai-c{
    align-items:center;
}
.primary{
    background: var(--prm-grd);
    box-shadow: var(--prm-shadow);
}
.prm{
    background: var(--prm-grd);
    box-shadow: var(--prm-shadow);
    padding:.5rem;
    border-radius: .5rem;
}
.prm.crcl{
    border-radius:50%;
    min-width:50px;
    height:50px;
}
.prm:active{
    background: var(--prm-grd-reverse);
    box-shadow:  var(--prm-shadow-reverse);
}
.r{
    position:relative;
}