@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
*{
margin:0;
padding:0;
box-sizing:border-box;
}
:root{
    --body-clr:#f1f1f1;
    --dark-clr:#707070;
    --light-clr:#ffffff;
    --green:linear-gradient(#06D81E, #27B43D);
    --green-text:#06D81E;
    --prm-grd:linear-gradient(-210deg, #f1f1f1 50%, #FFFFFF 80%);
    --prm-grd-reverse:linear-gradient(-210deg, #FFFFFF 50%, #E1DFDF  80%);
    --secondary-clr:#3C3C59;
    --story-border:linear-gradient(-210deg, #379BDE 50%, #115ED2 80%);
}
body{
  background-color:var(--body-clr);
}
button{
    border:0;
    outline:none;
    font-size:.8rem;
    color:var(--secondary-clr);
}

p{
    font-family:"noto-sans";
}
h4{
    font-family:"noto-sans";
    color:var(--secondary-clr);
    font-weight: 600;
}
a{
    text-decoration: none;
    color:var(--secondary-clr);
    outline:none;
}
a:active{
    color:rgb(131, 0, 0);
}
ul{
    list-style:none;
}
.splitter{
    content:"";
    display:block;
    border-top:1px solid rgba(114, 114, 114, .2);
    border-bottom:1px solid var(--light-clr);
    width:100%;
    position:absolute;
    left:0;
    top:0;
}
.splitter.btm{
    bottom:-.3rem;
}
.gr{
    color:var(--green-text);
}
.gr-count{
    width:25px;
    height:25px;
    font-size:.7rem;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    background:var(--green);
    border-radius:50%;
}
.g{
    display:grid;
}
.g.g-col-3{
    grid-template-columns:50px 1fr 80px;
    grid-column-gap:.5rem;
}
.g.c{
    place-content:center;
}
.b{
    border:1px solid;
}
.f{
    display:flex;
}
.f.wp{
    flex-wrap: wrap;
}
.f.f-cl{
    flex-direction:column;
}
.jc-sb{
    justify-content:space-between;
}
.jc-sa{
    justify-content:space-around;
}
.jc-c{
    justify-content:center;
}
.ai-sb{
    align-items:space-between;
}
.ai-c{
    align-items:center;
}
.prm{
    background: linear-gradient(170deg, #e7e7e7, #FFFFFF);
    box-shadow: 2px 2px 5px #DDDFE3, -2px -2px 5px #FFFFFF;
    padding:.5rem;
    border-radius: .5rem;
}
.prm.crcl{
    border-radius:50%;
    min-width:50px;
    height:50px;
}
.prm:active{
    background: linear-gradient(315deg, #e4e4e4, #ffffff);
    box-shadow:  -2px -2px 5px #dedede,
             2px 2px 5px #e2e2e2;
}
.r{
    position:relative;
}