@import "config.css";
.tap{
  padding: 0 .8rem;
}
header{
  padding:.8rem 0;
  margin-bottom:.8rem;
}
.splitter{
  content:"";
  bottom:-.5rem;
  display:block;
  border-top:1px solid rgba(114, 114, 114, .2);
  border-bottom:1px solid var(--light-clr);
  width:100%;
  position:absolute;
}
.logo h5{
  margin-left:.4rem;
  font-size:1.3rem;
  color:rgb(61, 61, 61);
  font-family: 'ABeeZee', sans-serif;
}
@import "stories.css";