@import "config.css";
.tap{
  padding: 0 .8rem;
  height:100vh;
}

header{
  padding:.8rem 0;
}
.logo h5{
  margin-left:.5rem;
  font-size:1.3rem;
  margin-top:.5rem;
  color:var(--secondary-clr);
  font-family: 'ABeeZee', sans-serif;
}