.friend_stories{
    overflow-x:auto;
    padding: .8rem .5rem;
    margin-bottom:.8rem;
}
.storiesScrollBar{
    
}
.story + .story{
    margin-left:1.2rem;
}
.story p{
    margin-top:.2rem;
}
.story:first-child p {
    color:var(--dark-clr);
}
.friend-story .friend-image{
    border-radius:50%;
    overflow:hidden;
    width:50px;
    height:50px;
    border:3px solid #115ED2;
    padding:.2rem;
}
.friend-story .friend-image img{
   width:100%;
   height:100%;
   border-radius:50%;
}